from google.colab import drive
import gc
import time
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import shap

import scipy.stats as stats
from scipy.stats import wilcoxon

import statsmodels.api as sm
from statsmodels.stats.diagnostic import het_breuschpagan
from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.model_selection import (
    train_test_split, KFold, StratifiedKFold,
    cross_validate, cross_val_score,
    GridSearchCV, learning_curve
)

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.decomposition import PCA

from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.svm import SVC, LinearSVC, SVR
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import (
    DecisionTreeClassifier, DecisionTreeRegressor, plot_tree
)
from sklearn.ensemble import (
    RandomForestClassifier, RandomForestRegressor, StackingClassifier
)

from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score,
    roc_auc_score, roc_curve, auc,
    precision_recall_curve, average_precision_score,
    confusion_matrix, ConfusionMatrixDisplay,
    matthews_corrcoef, classification_report,
    RocCurveDisplay, PrecisionRecallDisplay,
    mean_absolute_error, mean_squared_error, r2_score, make_scorer
)

from sklearn.calibration import calibration_curve
from sklearn.inspection import PartialDependenceDisplay, DecisionBoundaryDisplay

import xgboost as xgb
